# https://pystyle.info/apps/clang-format-editor/
#
Language: Cpp

# インデント設定
UseTab: Never
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
BracedInitializerIndentWidth: 4
AccessModifierOffset: -4

# IDE で左右に FileList と Chat を表示することが多くなったため 120 -> 100 へ
ColumnLimit: 100

# 用の改行設定
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: false
    AfterControlStatement: false
    AfterEnum: false
    AfterFunction: false
    AfterNamespace: false
    AfterObjCDeclaration: false
    AfterStruct: false
    AfterUnion: false
    BeforeCatch: true
    BeforeElse: true
    IndentBraces: false
    SplitEmptyFunction: false
    SplitEmptyRecord: false
    SplitEmptyNamespace: false

# たくさんの引数があるときに改行する
# int Func(
#	  int a,
#	  int b)
AllowAllParametersOfDeclarationOnNextLine: false
PenaltyBreakBeforeFirstCallParameter: 0

# パラメータ改行が発生した時、関数ヘッダ最後の ) を、引数と同じ行にする
# int Func(
#	  int a,
#	  int b) const
AlignAfterOpenBracket: AlwaysBreak

# int* や int& のように、 * や & を型側に付ける
PointerAlignment: Left
ReferenceAlignment: Left

# 短いインライン関数は { } を改行しない
AllowShortFunctionsOnASingleLine: InlineOnly

# = の直後で改行するより、関数引数を 1 つずつ改行することを優先する
# (デフォルト 2 → 大きくすることで「= 後改行」のコストを上げる)
# int a = Func(   // = の後の改行の優先度を下げたい
#     ...
# )
PenaltyBreakAssignment: 100

# 戻り値は関数名と同じ行にする
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 1000000

# namespace の { } 内はインデントしない
NamespaceIndentation: None

SortIncludes: false

#-------------------------------------------------------------------------------
# Webの標準的なフォーマッタの Prettier に合わせるような設定
# https://gist.github.com/nicklasfrahm/4a4fff24381f85ada76ccb651f555e1f
#-------------------------------------------------------------------------------
IndentCaseLabels: true
#PenaltyReturnTypeOnItsOwnLine: 200
#UseTab: Never
#SortIncludes: true
SortUsingDeclarations: false
AlignConsecutiveMacros: false
AlignEscapedNewlines: DontAlign
#AlignAfterOpenBracket: BlockIndent
AlignOperands: false
AlignTrailingComments: false
BinPackArguments: false
BinPackParameters: false
SpacesInContainerLiterals: false
Cpp11BracedListStyle: true
#AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Always
FixNamespaceComments: false
ReflowComments: false
#NamespaceIndentation: All
BreakStringLiterals: false
BreakConstructorInitializers: AfterColon
IndentPPDirectives: BeforeHash
