[submodule "external/Lumino.Core"]
	path = external/Lumino.Core
	url = https://github.com/lriki/Lumino.Core.git
[submodule "external/Lumino.Math"]
	path = external/Lumino.Math
	url = https://github.com/lriki/Lumino.Math.git
