Lumino %%LuminoVersion%%
====================

概要
--------------------
Lumino はリアルタイムグラフィックスアプリケーションのためのオープンソースライブラリです。


ライセンス
--------------------
The MIT license.
Lumino Copyright (c) 2013-2021 lriki

Lumino は MIT ライセンスで提供されています。
https://opensource.org/licenses/mit-license.php


連絡先
--------------------
- E-mail: lriki.net@gmail.com
- GitHub: https://github.com/LuminoEngine/Lumino
- Twitter: http://twitter.com/lriki8

