name: Package

on:
  push:
    branches:
    - master

env:
  cache-version: v1
  LN_BUILD_FROM_CI: 1

jobs:
  #==============================================================================
  Build-Native-MSVC2019-x64-MT:
    runs-on: windows-2019
    
    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.2.108

    - name: Common build cache (build/BuildCache)
      uses: actions/cache@v1
      with:
        path: ./build/BuildCache
        key: ${{ env.cache-version }}-BuildCache-${{ hashFiles('**/BuildExternalProjects.cs') }}
            
    - name: Build
      run: |
        dotnet run -- BuildExternalProjects MSVC2019-x64-MT
        dotnet run -- BuildEngine_MSVC MSVC2019-x64-MT
        dotnet run -- MakeNativePackage
        
    - uses: actions/upload-artifact@v1
      with:
        name: NativePackage-MSVC2019-x64-MT
        path: ./build/NativePackage

  #==============================================================================
  Build-Native-Web:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.2.108

    - name: Common build cache (build/BuildCache)
      uses: actions/cache@v1
      with:
        path: ./build/BuildCache
        key: ${{ env.cache-version }}-BuildCache-${{ hashFiles('**/BuildExternalProjects.cs') }}

    - name: Build
      run: |
        dotnet run -- BuildExternalProjects Emscripten
        dotnet run -- BuildEngine_Emscripten Emscripten
        dotnet run -- MakeNativePackage
        
    - uses: actions/upload-artifact@v1
      with:
        name: NativePackage-Web
        path: ./build/NativePackage

  #==============================================================================
  Build-Native-Android:
    runs-on: windows-2019

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.2.108

    - name: Common build cache (build/BuildCache)
      uses: actions/cache@v1
      with:
        path: ./build/BuildCache
        key: ${{ env.cache-version }}-BuildCache-${{ hashFiles('**/BuildExternalProjects.cs') }}
            
    - name: Build
      run: |
        dotnet run -- BuildExternalProjects Android-x86_64
        dotnet run -- BuildExternalProjects Android-x86
        dotnet run -- BuildExternalProjects Android-arm64-v8a
        dotnet run -- BuildExternalProjects Android-armeabi-v7a
        dotnet run -- BuildEngine_Android
        dotnet run -- MakeNativePackage

    - uses: actions/upload-artifact@v1
      with:
        name: NativePackage-Android
        path: ./build/NativePackage

  #==============================================================================
  Build-Native-macOS:
    runs-on: macos-10.15

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.2.108

    - name: Common build cache (build/BuildCache)
      uses: actions/cache@v1
      with:
        path: ./build/BuildCache
        key: ${{ env.cache-version }}-BuildCache-${{ hashFiles('**/BuildExternalProjects.cs') }}
            
    - name: Build
      run: |
        dotnet run -- BuildExternalProjects macOS
        dotnet run -- BuildEngine_macOS
        dotnet run -- MakeNativePackage

    - uses: actions/upload-artifact@v1
      with:
        name: NativePackage-macOS
        path: ./build/NativePackage
        
  #==============================================================================
  Build-Native-iOS:
    runs-on: macos-10.15

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.2.108

    - name: Common build cache (build/BuildCache)
      uses: actions/cache@v1
      with:
        path: ./build/BuildCache
        key: ${{ env.cache-version }}-BuildCache-${{ hashFiles('**/BuildExternalProjects.cs') }}
            
    - name: Build
      run: |
        dotnet run -- BuildExternalProjects iOS-OS64
        dotnet run -- BuildExternalProjects iOS-SIMULATOR64
        dotnet run -- BuildEngine_iOS
        dotnet run -- MakeNativePackage

    - uses: actions/upload-artifact@v1
      with:
        name: NativePackage-iOS
        path: ./build/NativePackage

  #==============================================================================
  Package-Windows:
    needs: [Build-Native-MSVC2019-x64-MT, Build-Native-Android]
    runs-on: windows-2019
    
    steps:
    - name: Checkout
      uses: actions/checkout@v1
      
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.2.108
        
    - uses: actions/download-artifact@v1
      with:
        name: NativePackage-MSVC2019-x64-MT
        path: ./build/NativePackage
    
    - uses: actions/download-artifact@v1
      with:
        name: NativePackage-Web
        path: ./build/NativePackage
    
    - uses: actions/download-artifact@v1
      with:
        name: NativePackage-Android
        path: ./build/NativePackage

    - name: Build
      run: dotnet run -- MakeInstaller_Win32

    - uses: actions/upload-artifact@v1
      with:
        name: Lumino-latest-Windows.msi
        path: ./build/Lumino-latest-Windows.msi

    - uses: actions/upload-artifact@v1
      with:
        name: Lumino-latest-Windows.zip
        path: ./build/Lumino-latest-Windows

#        dotnet run -- BuildExternalProjects Emscripten
#        
#        dotnet run -- BuildEngine_Emscripten
#        
#        dotnet run -- BuildEngine_Android
#        dotnet run -- MakeNativePackage
#        dotnet run -- MakeInstaller_Win32

  #==============================================================================
  Package-macOS:
    needs: [Build-Native-macOS, Build-Native-iOS]
    runs-on: macos-10.15
    
    steps:
    - name: Checkout
      uses: actions/checkout@v1
      
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.2.108
        
    - uses: actions/download-artifact@v1
      with:
        name: NativePackage-macOS
        path: ./build/NativePackage
    
    - uses: actions/download-artifact@v1
      with:
        name: NativePackage-iOS
        path: ./build/NativePackage

    - name: Build
      run: dotnet run -- MakePackage_macOS

    - uses: actions/upload-artifact@v1
      with:
        name: Lumino-latest-macOS.zip
        path: ./build/Lumino-latest-macOS
